@import "styles/_shared";

.header {
  font-size: 1rem;

  @media screen and (max-width: $breakpoint-s) {
    font-size: 0.75rem;
  }
}

.title {
  font-size: 5em;
  line-height: 1;
  font-weight: bold;
  margin: 0;
  display: block;
  text-align: center;
}

.scores-container .score-container {
  display: inline-block;
  min-width: 4em;
}

.score-current {
  margin-right: 5px;
}

.about-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  margin-top: 1em;
}

.game-intro {
  line-height: 2.5;
  margin-bottom: 0;
}
